@charset "utf-8";

#wrap{
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #495F91;
    transition: 0.3s;
}

.header .logo svg{
    fill: #8BB6E8;
    transition: 0.3s;
}

.header .logo{
    height: 35px;
}

.header .logo:hover svg{
    fill: rgb(220, 176, 184);
}

.header .main-menu .menu-wrap{
    display: flex;
}

.header .main-menu .menu-wrap li{
    font-size: 14px;
    color: #8BB6E8;
    font-weight: 500;
    margin-right: 60px;
    transition: 0.3s;
}

.header .main-menu .menu-wrap li.active,
.header .main-menu .menu-wrap li.on{
    color: #F8F6F4;
}

.header .main-menu .menu-wrap li:last-child{
    margin-right: 0;
}

.header .hamburger{
    width: 20px;
    height: 16px;
    position: relative;
    display: none;
}

.header .hamburger span{
    width: 100%;
    height: 2px;
    background-color: #c6ccdc;
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.header .hamburger span:nth-child(1){
    top: 0;
}

.header .hamburger span:nth-child(2){
    top: 50%;
}

.header .hamburger span:nth-child(3){
    top: 100%;
}

.header .hamburger.active span:nth-child(1){
    border-radius: 10px 10px 0px 0px;
    height: 16px;
}

.mobile-menu{
    display: none;
}

.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F8F6F4;
    position: relative;
}

.home .home-img{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-img .welcome-window{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.home .home-img .welcome-window .window{
    width: 100%;
    height: 350px;
    background-color: #C2D8EF;
    border-radius: 162.5px 162.5px 0px 0px;
    margin: 0px 0px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.home .home-img .welcome-window .window.active{
    background-color: rgb(220, 176, 184);
}

.home .home-img .welcome-window .window-line span.active{
    background-color: rgb(220, 176, 184);
}

.home .home-img .welcome-window .window-line{
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
}

.home .home-img .welcome-window .window-line span{
    width: 100%;
    height: 2px;
    background-color: #C2D8EF;
    margin-bottom: 2px;
}

.home .home-img .welcome-window .window .illust img{
    object-fit: contain;
}


.home .home-img .welcome-window .window .illust{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -60px;
    right: 0px;
    animation: hello 1.5s linear infinite;
}

@keyframes hello {
    0%{
        transform: translateY(-10px);
    }

    50%{
        transform: translateY(-15px);
        rotate: 2deg;
    }

    100%{
        transform: translateY(-10px);
    }
}

.home .portfolio-text{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about{
    width: 100%;
    height: 250px;
    background-color: #8BB6E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about p{
    color: #F8F6F4;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
}

.profile{
    width: 100%;
    height: 100%;
    background-color: #F8F6F4;
    display: flex;
    justify-content: space-between;
    padding: 100px 160px;
}

.profile .right{
    width: 50%;
    height: 100%;
}

.profile .right .picture{
    width: 460px;
    height: 100%;
    overflow: hidden;
    border-radius: 230px 230px 0px 0px;
    position: relative;
}

.profile .right .picture .mypicture{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.profile .right .picture .mypicture img{
    transition: 0.3s;
}

.profile .right .picture .mypicture.active{
    transform: translateY(-70px);
}

.profile .right .picture .mypicture.active img{
   filter: brightness(0.8) grayscale(0.8);
}

.profile .right .picture .name{
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #495F91;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.profile .right .picture .name.active{
    bottom: 0;
}

.profile .right .picture .name p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #F8F6F4;
}

.profile .right .picture .name span{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #79AADC;
    margin-top: 4px;
}

.profile .right .picture .name svg{
    width: 12px;
    height: 12px;
    fill: #F8F6F4;
}

.profile .right .picture .name .phone-no{
    display: flex;
}

.profile .right .picture .name .phone-no p{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #F8F6F4;
    margin-left: 12px;
}

.profile .right .picture .name .email-ad{
    display: flex;
    margin-top: 4px;
}

.profile .right .picture .name .email-ad p{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #F8F6F4;  
    margin-left: 12px;
}

.profile .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile .left h3{
    color: #333333;
    font-size: 18px;
    border-bottom: 2px solid #333;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.profile .left .education-list li,
.profile .left .license-list li{
    display: flex;
    margin-bottom: 20px;
}

.profile .left .education-list li:last-child{
    margin-bottom: 60px;
}

.profile .left span,
.profile .left p{
    font-size: 12px;
    color: #333;
    font-weight: 400;
    word-break: keep-all;
    line-height: 1.5;
}

.profile .left span{
    margin-right: 40px;
}

.portfolio{
    width: 100%;
    height: auto;
    padding: 100px 160px;
    background-color: #C2D8EF;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portfolio  h1{
    color: #3D6491;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.portfolio .current{
    width: 100%;   
    display: flex;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    transition: 0.3s;   
}

.portfolio .current img{
    object-fit: contain;
}

.portfolio .current.active{
    opacity: 1;
    z-index: 11;
}

.portfolio .top{
    position: relative;
}


.portfolio .c-2,
.portfolio .c-3,
.portfolio .c-4{
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio .current-1,
.portfolio .current-2,
.portfolio .current-3,
.portfolio .current-4{
    width: 60%;
}

.portfolio .current-list{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio .current-list li{
    font-size: 16px;
    font-weight: 500;
    color: #7aa7d7;
    text-align: left;
    margin-top: 30px;
    transition: 0.3s;
}

.portfolio .current-list li:hover{
    color: #3D6491;
}

.portfolio .current-list li:hover i{
    color: #3D6491;
}

.portfolio .current-list li:first-child{
    margin-top: 0;
}

.portfolio .current-list li i{
    font-size: 10px;
    color: #7aa7d7;
    margin-left: 8px;
    transition: 0.3s;
}


.portfolio .bottom .renewal-list{
    width: 100%;
    display: flex;
    margin-top: 120px;
}

.portfolio .bottom .renewal-list li{
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-right: 60px;
    transition: 0.3s;
}


.portfolio .bottom .renewal-list li:last-child{
    margin-right: 0;
}

.portfolio .bottom .renewal-list li .list-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio .bottom .renewal-list li p{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #333333;
    text-align: center;
    margin-top: 30px;
}

.portfolio .bottom .renewal-list li span{
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    word-break: keep-all;
}

.portfolio .bottom .renewal-list li img{
    
    height: auto;
    object-fit: contain;
    transition: 0.3s;
    filter: drop-shadow( rgba(0,0,0,0.2) 2px 2px 2px );
}

.portfolio .bottom .renewal-list li:hover img{
    scale: 1.05;
}

.portfolio .bottom .renewal-list li.on{
    filter: grayscale(1) brightness(0.8);
}

.uiux{
    width: 100%;
    height: auto;
    background-color: #8BB6E8;
    padding: 100px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uiux .left{
    width: 50%;
}

.uiux .right{
    width: 50%;
    margin-left: 60px;
}

.uiux .screen{
    display: flex;
}

.uiux .screen .device{
    width: 260px;
    margin-left: 10px;
    filter: drop-shadow( rgba(0,0,0,0.2) 2px 2px 2px );
    transition: 0.3s;
}

.uiux .screen .device:hover{
    rotate: 2.5deg;
}

.uiux .used-apps{
    display: flex;
    margin-bottom: 40px;
}

.uiux .used-apps img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.uiux .used-apps .illustrator{
    margin-right: 10px;
}

.uiux .used-apps .photoshop{
    margin-right: 10px;
}

.uiux .title h1{
    color: #3D6491;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.uiux .title h3{
    color: #F8F6F4;  
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.uiux .title p{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}

.uiux .title{
    margin-bottom: 60px;
}

.uiux .project-contribution h3{
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.uiux .project-contribution p{
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
}

.uiux .project-contribution p::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    width: 124px;
    height: 2px;
    background-color: #3d64917c;
}

.uiux .project-contribution span{
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    word-break: keep-all;
}

.uiux .project-contribution{
    margin-bottom: 40px;
}

.uiux .date span{
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    letter-spacing: 2px;
}

.uiux .date{
    margin-bottom: 20px;
}

.uiux .viewmore{
    font-size: 16px;
    font-weight: 600;
    color: #3D6491;
    letter-spacing: 2px;
    transition: 0.3s;
}

.uiux .viewmore i{
    font-size: 14px;
    color: #3D6491;
    font-weight: 600;
    margin-left: 8px;
    transition: 0.3s;
}

.uiux .viewmore:hover,
.uiux .viewmore:hover i{
    color: #fff;
}

.contact{
    width: 100%;
    height: 300px;
    background-color: #F8F6F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .phone{
    display: flex;
}

.contact .phone p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #bdbdbd;
    margin-left: 12px;
}

.contact svg{
    width: 14px;
    height: 14px;
    fill: #8BB6E8;
}

.contact .email{
    display: flex;
    margin-top: 4px;
    margin-top: 10px;
}

.contact .email p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #bdbdbd;  
    margin-left: 12px;
}

.ending{
    width: 100%;
    height: 450px;
    background-color: #495F91;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ending .ending-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ending .thankyou{
    width: 200px;
    margin-bottom: 40px;
}

.ending .copyright{
    font-size: 10px;
    color: #F8F6F4;
    font-weight: 500;
    letter-spacing: 2px;
}

.top-btn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: drop-shadow( rgba(0,0,0,0.2) 1px 1px 5px );
    background-color: #495F91;
    transition: 0.3s;
    z-index: 99999;
}

.top-btn:hover{
    scale: 1.1;
    background-color: #8BB6E8;
}

.top-btn::after{
    content: "\f062";
    font-family: fontawesome;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

/* --------------------------------- */

@media screen and (max-width: 1390px){
    .profile .left{
        width: 40%;
    }

    .uiux .title h1{
        font-size: 18px;
    }

    .uiux .title h3{
        font-size: 24px;
    }

    .uiux .title p{
        font-size: 12px;
    }

    .uiux .project-contribution h3{
        font-size: 12px;
    }

    .uiux .project-contribution span{
        font-size: 10px;
    }

    .uiux .date span{
        font-size: 10px;
    }

    .uiux .viewmore,
    .uiux .viewmore i{
        font-size: 12px;
    }
}

/* --------------------------------- */

@media screen and (max-width: 1150px){

    .profile{
        height: auto;
    }

    .profile .right{
        display: flex;
        align-items: center;
    }

    .profile .right .picture{
        width: 410px;
        height: 650px;
    }


}

/* --------------------------------- */

@media screen and (max-width: 1000px){

    .about p{
        font-size: 16px;
    }

    .profile{
        padding: 80px;
    }

    .profile .right{
        display: flex;
        align-items: center;
    }

    .profile .right .picture{
        width: 410px;
        height: 650px;
    }

    .profile .left h3{
        font-size: 16px;
    }

    .portfolio{
        padding: 80px;
    }


    .portfolio h1{
        font-size: 16px;
        margin-bottom: 32px;
    }

    .uiux{
        padding: 80px;
    }


    .uiux .left{
        width: 55%;
    }

    .uiux .title h1{
        font-size: 16px;
    }

    .uiux .title{
        margin-bottom: 32px;
    }

    .uiux .project-contribution{
        margin-bottom: 32px;
    }

    .uiux .project-contribution p{
        margin-bottom: 12px;
    }

    .uiux .used-apps{
        margin-bottom: 28px;
    }

    .uiux .title h3{
        font-size: 20px;
    }

    .uiux .date{
        margin-bottom: 12px;
    }
}

/* --------------------------------- */

@media screen and (max-width: 780px){

    .header{
        padding: 0px 32px;
    }

    .header .main-menu{
        display: none;
    }

    .header .hamburger{
        display: block;
    }

    .mobile-menu{
        display: none;
        width: 100%;
        height: 65%;
        background-color: #F8F6F4;
        position: fixed;
        top: 0;
        left: 0;
        filter: drop-shadow(rgba(0, 0, 0, 0.05) 0px 5px 5px);
        z-index: 99;
    }

    .mobile-menu .mobile-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu .mobile-wrap li{
        font-size: 24px;
        color: #333;
        font-weight: 500;
        text-align: center;
        margin-bottom: 60px;
    }

    .mobile-menu .mobile-wrap li:last-child{
        margin-bottom: 0;
    }

    .profile{
        padding: 80px 32px;
        height: auto;
    }

    .profile .right .picture {
        width: 410px;
        height: 500px;
    }

    .portfolio{
        padding: 80px 32px;
    }

    .uiux{
        height: auto;
        padding: 80px 32px;
    }
}

/* --------------------------------- */

@media screen and (max-width: 600px){

    .header .logo:hover svg{
        fill: #8BB6E8;
    }

    .about p{
        font-size: 12px;
    }

    .profile{
        flex-direction: column;
        align-items: center;
    }

    .profile .right{
        width: 100%;
        justify-content: center;
        margin-bottom: 60px;
    }

    .profile .right .picture {
        width: 350px;
        height: 500px;
    }

    .profile .left{
        width: 350px;
    }

    .portfolio .current{
        flex-direction: column;
        align-items: center;
        border-bottom: 1px dashed #7aa7d7;

    }

    .portfolio .current-list{
        margin: 32px 0px 60px;
    }

    .portfolio .current-list li{
        margin-top: 18px;
    }

    .portfolio .bottom .renewal-list{
        flex-direction: column;
        margin-top: 60px;
        align-items: center;
    }

    .portfolio .bottom .renewal-list li{
        margin-right: 0;
        width: 200px;
        margin-bottom: 40px;
    }

    .portfolio .bottom .renewal-list li.on{
        filter: none;
    }

    .portfolio .current-list li{
        color: #495F91;
    }

    .portfolio .bottom .renewal-list li:last-child{
        margin-bottom: 0;
    }

    .portfolio .current-1, .portfolio .current-2, .portfolio .current-3, .portfolio .current-4{
        width: 80%;
    }

    .uiux{
        flex-direction: column;
    }

    .uiux .left{
        width: 80%;
        margin-bottom: 40px;
    }

    .uiux .right{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .uiux .project-contribution p::after{
        left: 50%;
        transform: translateX(-50%);
    }
}

/* --------------------------------- */

@media screen and (max-width: 375px){

    .header{
        padding: 0px 16px;
    }

    .mobile-menu .mobile-wrap{
        margin-top: 20px;
    }

    .mobile-menu .mobile-wrap li{
        font-size: 18px;
    }

    .about{
        padding: 60px 16px;
    }

    .profile{
        padding: 60px 16px;
    }

    .uiux{
        padding: 60px 16px;
    }

    .portfolio{
        padding: 60px 16px;
    }
}