@charset "utf-8";

#wrap{
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #495F91;
    transition: 0.3s;
}


.header .header-logo{
    display: none;
    width: 47.43px;
    height: 35px;
}

.header .header-logo a{
    width: 47.43px;
    height: 35px;
}

.header .header-logo a img{
    width: 47.43px;
    height: 35px;
    object-fit: contain;
}

.header .logo{
    height: 35px;
    cursor: pointer;
}

.header .main-menu .menu-wrap{
    display: flex;
}

.header .main-menu .menu-wrap li{
    font-size: 14px;
    color: #8BB6E8;
    font-weight: 500;
    margin-right: 60px;
    transition: 0.3s;
}

.header .main-menu .menu-wrap li.active,
.header .main-menu .menu-wrap li.on{
    color: #F8F6F4;
}

.header .main-menu .menu-wrap li:last-child{
    margin-right: 0;
}

.header .hamburger{
    width: 20px;
    height: 16px;
    position: relative;
    display: none;
}

.header .hamburger span{
    width: 100%;
    height: 2px;
    background-color: #c6ccdc;
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.header .hamburger span:nth-child(1){
    top: 0;
}

.header .hamburger span:nth-child(2){
    top: 50%;
}

.header .hamburger span:nth-child(3){
    top: 100%;
}

.header .hamburger.active span:nth-child(1){
    border-radius: 10px 10px 0px 0px;
    height: 16px;
}

.mobile-menu{
    display: none;
}

.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F8F6F4;
    position: relative;
}

.home .home-img{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-img .welcome-window{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.home .home-img .welcome-window .window{
    width: 100%;
    height: 350px;
    background-color: #C2D8EF;
    border-radius: 162.5px 162.5px 0px 0px;
    margin: 0px 0px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.home .home-img .welcome-window .window.active{
    background-color: rgb(220, 176, 184);
}

.home .home-img .welcome-window .window-line span.active{
    background-color: rgb(220, 176, 184);
}

.home .home-img .welcome-window .window-line{
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
}

.home .home-img .welcome-window .window-line span{
    width: 100%;
    height: 2px;
    background-color: #C2D8EF;
    margin-bottom: 2px;
}

.home .home-img .welcome-window .window .illust img{
    object-fit: contain;
}


.home .home-img .welcome-window .window .illust{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -60px;
    right: 0px;
    animation: hello 1.5s linear infinite;
}

@keyframes hello {
    0%{
        transform: translateY(-10px);
    }

    50%{
        transform: translateY(-15px);
        rotate: 2deg;
    }

    100%{
        transform: translateY(-10px);
    }
}

.home .portfolio-text{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about{
    width: 100%;
    height: 250px;
    background-color: #8BB6E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about p{
    color: #F8F6F4;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
}

.profile{
    width: 100%;
    height: 100%;
    background-color: #F8F6F4;
    display: flex;
    justify-content: space-between;
    padding: 100px 160px;
}

.profile .right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* 
.profile .right .skills{
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.profile .right .skills li{
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .right .skills .skill-photoshop .skill-img{
    width: 100%;
    height: 50px;
    background-color: #001E36;
}

.profile .right .skills .skill-illust .skill-img{
    width: 100%;
    height: 50px;
    background-color: #330000;
}

.profile .right .skills .skill-figma .skill-img{
    width: 100%;
    height: 50px;
    background-color: #1a1a1e;
}

.profile .right .skills .skill-css .skill-img{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}

.profile .right .skills .skill-html .skill-img{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}

.profile .right .skills .skill-jquery .skill-img{
    width: 100%;
    height: 50px;
    background-color: #1266A9;
}


.profile .right .skills .skill-img{
    width: 100%;
    padding: 10px;
}

.profile .right .skills img{

    object-fit: contain;
} */

.profile .right .picture{
    width: 450px;
    height: 100%;
    overflow: hidden;
    border-radius: 230px 230px 0px 0px;
    position: relative;
}

.profile .right .picture .mypicture{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.profile .right .picture .mypicture img{
    transition: 0.3s;
}

.profile .right .picture .mypicture.active{
    transform: translateY(-70px);
}

.profile .right .picture .mypicture.active img{
   filter: brightness(0.8) grayscale(0.8);
}

.profile .right .picture .name{
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #495F91;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.profile .right .picture .name.active{
    bottom: 0;
}

.profile .right .picture .name p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #F8F6F4;
}

.profile .right .picture .name span{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #79AADC;
    margin-top: 4px;
}

.profile .right .picture .name svg{
    width: 12px;
    fill: #F8F6F4;
}

.profile .right .picture .name .phone-no{
    display: flex;
}

.profile .right .picture .name .phone-no p{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #F8F6F4;
    margin-left: 12px;
}

.profile .right .picture .name .email-ad{
    display: flex;
    margin-top: 4px;
}

.profile .right .picture .name .email-ad p{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #F8F6F4;  
    margin-left: 12px;
}

.profile .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile .left h3{
    color: #333333;
    font-size: 18px;
    border-bottom: 2px solid #333;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.profile .left .education-list li,
.profile .left .license-list li,
.profile .left .work-list li{
    display: flex;
    margin-bottom: 10px;
}

.profile .left .education-list li:last-child{
    margin-bottom: 40px;
}

.profile .left .work-list li:last-child{
    margin-bottom: 40px;
}

.profile .left .license-list li:last-child{
    margin-bottom: 0;
}

.profile .left span,
.profile .left p{
    font-size: 12px;
    color: #333;
    font-weight: 400;
    word-break: keep-all;
    line-height: 1.5;
}

.profile .left span{
    margin-right: 40px;
}

.profile .left .work-list span:first-child{
    margin-right: 0;
}

.webmobile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(248,246,244);
    background: linear-gradient(180deg, rgba(248,246,244,1) 0%, rgba(194,216,239,1) 100%);
}

.webmobile li {
    margin-bottom: 80px;
}

.webmobile h3{
    font-size: 28px;
    font-weight: 500;
    color: #8BB6E8;
    background-color: #fff;
    padding: 16px 40px;
    border-radius: 40px;
    text-align: center;
    letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -3px 5px inset;
    transition: 0.3s;
}

.webmobile h3:hover{
    background-color: #f2f2f2;
    color: rgb(90, 144, 199);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px inset;
}

.webmobile li:last-child{
    margin-bottom: 0;
}

.portfolio{
    width: 100%;
    height: 100%;
    padding: 100px 160px;
    background-color: #C2D8EF;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portfolio  h1{
    color: #3D6491;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.modal{
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;
}

.modal .black-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.active{
    z-index: 999999;
    opacity: 1;
}

.portfolio .top{
    position: relative;
}

.portfolio .current{
    width: 100%;   
    display: flex;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
}

.portfolio .current img{
    object-fit: contain;
}

.portfolio .current.active{
    opacity: 1;
    z-index: 1;
}

.portfolio .current.on{
    z-index: 2;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 111;
}

.close i{
    color: #F8F6F4;
    font-size: 18px;
}

.portfolio .c-2,
.portfolio .c-3,
.portfolio .c-4{
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio .current-1,
.portfolio .current-2,
.portfolio .current-3,
.portfolio .current-4{
    width: 60%;
}

.portfolio .current-list{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio .current-list li{
    font-size: 16px;
    font-weight: 500;
    color: #F8F6F4;
    text-align: left;
    margin-top: 30px;
    transition: 0.3s;
}

.portfolio .current-list li:hover{
    color: #8BB6E8;
}

.portfolio .current-list li:hover i{
    color: #8BB6E8;
}

.portfolio .current-list li:first-child{
    margin-top: 0;
}

.portfolio .current-list li i{
    font-size: 10px;
    color: #F8F6F4;
    margin-left: 8px;
    transition: 0.3s;
}


.portfolio .bottom .renewal-list{
    width: 100%;
    display: flex;
    margin-top: 120px;
}

.portfolio .bottom .renewal-list li{
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-right: 60px;
    transition: 0.3s;
}


.portfolio .bottom .renewal-list li:last-child{
    margin-right: 0;
}

.portfolio .bottom .renewal-list li .list-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio .bottom .renewal-list li p{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #333333;
    text-align: center;
    margin-top: 30px;
}

.portfolio .bottom .renewal-list li span{
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.5;
    text-align: center;
    word-break: keep-all;
}

.portfolio .bottom .renewal-list li img{
    
    height: auto;
    object-fit: contain;
    transition: 0.3s;
    filter: drop-shadow( rgba(0,0,0,0.2) 2px 2px 2px );
}

.portfolio .bottom .renewal-list li:hover img{
    scale: 1.05;
}

.portfolio .bottom .renewal-list li.on{
    filter: grayscale(1) brightness(0.8);
}

.uiux{
    width: 100%;
    height: 100%;
    background-color: #8BB6E8;
    padding: 100px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uiux .left{
    width: 50%;
}

.uiux .right{
    width: 50%;
    margin-left: 60px;
}

.uiux .screen{
    display: flex;
}

.uiux .screen .device{
    width: 260px;
    margin-left: 10px;
    filter: drop-shadow( rgba(0,0,0,0.2) 2px 2px 2px );
    transition: 0.3s;
}

.uiux .screen .device:hover{
    rotate: 2.5deg;
}

.uiux .used-apps{
    display: flex;
    margin-bottom: 40px;
}

.uiux .used-apps svg{
    width: 42px;
    height: 42px;
    object-fit: contain;
}

.uiux .used-apps .illustrator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.uiux .used-apps .photoshop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.uiux .used-apps .figma{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uiux .title h1{
    color: #3D6491;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.uiux .title h3{
    color: #F8F6F4;  
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.uiux .title p{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}

.uiux .title{
    margin-bottom: 40px;
}

.uiux .project-contribution h3{
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.uiux .project-contribution p{
    color: #598abb;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
}

/* .uiux .project-contribution p::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    width: 124px;
    height: 2px;
    background-color: #3d64917c;
} */

.uiux .project-contribution span{
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    word-break: keep-all;
}

.uiux .project-contribution{
    margin-bottom: 40px;
}

.uiux .date span{
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    letter-spacing: 2px;
}

.uiux .date{
    margin-bottom: 20px;
}

.viewmore{
    font-size: 12px;
    font-weight: 600;
    color: #79AADC;
    letter-spacing: 2px;
    transition: 0.3s;

    display: block;
    width: fit-content;
    background-color: #F8F6F4;
    padding: 8px 14px;
    border-radius: 8px;
    filter: drop-shadow( rgba(0,0,0,0.7) 2px 2px 4px 6px );
}

.viewmore i{
    font-size: 14px;
    color: #79AADC;
    font-weight: 600;
    margin-left: 8px;
    transition: 0.3s;
}

.viewmore:hover,
.viewmore:hover i{
    color: #bdbdbd;
}

.etc{
    width: 100%;
    height: auto;
    background-color: #C2D8EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 160px;
}

.etc h1{
    color: #3D6491;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.etc .modal .black-bg{
    cursor: pointer;
}

.etc .etc-img img{
   box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 2px;
}

.etc .modal .black-bg img{
    width: 60%;
    object-fit: contain;
}

.etc .etc-list{
    width: 100%;
}

.etc .etc-list ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.etc .etc-list li{
    width: calc(50% - 12px);
    margin-top: 60px;
}

.etc .etc-list li:nth-child(1),
.etc .etc-list li:nth-child(2){
    margin-top: 0;
}

.etc .etc-list .etc-txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etc .etc-list li .etc-txt li:first-child{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #333333;
    text-align: center;
    margin-top: 30px;
}

.etc .etc-list li .etc-txt li{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 18px;

}

.etc .etc-list li .etc-txt .view{
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    transition: 0.3s;
}

.etc .etc-list li .etc-txt .view i{
    font-size: 10px;
    color: #333333;
    margin-left: 8px;
    transition: 0.3s;
}

.etc .etc-list li .etc-txt .view:hover,
.etc .etc-list li .etc-txt .view:hover i{
    scale: 1.1;
    color: #5f8abc;
}

.contact{
    width: 100%;
    height: 300px;
    background-color: #F8F6F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .phone{
    display: flex;
}

.contact .phone p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #bdbdbd;
    margin-left: 12px;
}

.contact svg{
    width: 14px;
    fill: #8BB6E8;
}

.contact .email{
    display: flex;
    margin-top: 4px;
    margin-top: 10px;
}

.contact .email p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #bdbdbd;  
    margin-left: 12px;
}

.ending{
    width: 100%;
    height: 450px;
    background-color: #495F91;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ending .ending-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ending .thankyou{
    width: 130px;
    margin-bottom: 40px;
}

.ending .copyright{
    font-size: 10px;
    color: #F8F6F4;
    font-weight: 500;
    letter-spacing: 2px;
}

.top-btn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: drop-shadow( rgba(0,0,0,0.2) 1px 1px 5px );
    background-color: #495F91;
    transition: 0.3s;
    z-index: 99999;
}

.top-btn:hover{
    scale: 1.1;
    background-color: #8BB6E8;
}

.top-btn::after{
    content: "\f062";
    font-family: fontawesome;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

/* --------------------------------- */

@media screen and (max-width: 1390px){
    .profile .left{
        width: 40%;
    }

    .uiux .title h1{
        font-size: 18px;
    }

    .uiux .title h3{
        font-size: 24px;
    }

    .uiux .title p{
        font-size: 12px;
    }

    .uiux .project-contribution h3{
        font-size: 12px;
    }

    .uiux .project-contribution span{
        font-size: 10px;
    }

    .uiux .date span{
        font-size: 10px;
    }

    .uiux .viewmore,
    .uiux .viewmore i{
        font-size: 12px;
    }
}

/* --------------------------------- */

@media screen and (max-width: 1150px){

    .profile{
        height: auto;
    }

    .profile .right{
        display: flex;
        align-items: center;
    }

    .profile .right .picture{
        width: 410px;
        height: 650px;
    }


}

/* --------------------------------- */

@media screen and (max-width: 1000px){

    .about p{
        font-size: 16px;
    }

    .profile{
        padding: 80px;
    }

    .profile .right{
        display: flex;
        align-items: center;
    }

    .profile .right .picture{
        width: 410px;
        height: 650px;
    }

    .profile .left h3{
        font-size: 16px;
    }

    .portfolio{
        padding: 80px;
        height: auto;
    }


    .portfolio h1{
        font-size: 16px;
        margin-bottom: 32px;
    }

    .portfolio .bottom .renewal-list{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 48px;
    }

    .portfolio .bottom .renewal-list li{
        width: calc(45% - 24px);
        margin-right: 0;
        margin-bottom: 40px;
    }

    .portfolio .bottom .renewal-list li:nth-child(3),
    .portfolio .bottom .renewal-list li:nth-child(4){
        margin-bottom: 0;
    }

    .portfolio .bottom .renewal-list li span{
        width: 50%;
    }

    .uiux{
        padding: 80px;
    }

    .etc{
        padding: 80px;
    }

    
    .etc .modal .black-bg img{
        width: 80%;
    }


    .uiux .left{
        width: 55%;
    }

    .uiux .title h1{
        font-size: 16px;
    }

    .uiux .title{
        margin-bottom: 32px;
    }

    .uiux .project-contribution{
        margin-bottom: 32px;
    }

    .uiux .project-contribution p{
        margin-bottom: 12px;
    }

    .uiux .used-apps{
        margin-bottom: 28px;
    }

    .uiux .title h3{
        font-size: 20px;
    }

    .uiux .date {
        margin-bottom: 18px;
    }
}

/* --------------------------------- */

@media screen and (max-width: 780px){

    .header{
        padding: 0px 32px;
    }

    .header .logo{
        display: none;
    }

    .header .header-logo{
        display: block;

    }

    .header .main-menu{
        display: none;
    }

    .header .hamburger{
        display: block;
    }

    .mobile-menu{
        width: 100%;
        height: 100%;
 
        position: fixed;
        top: 0;
        left: 0;

        z-index: 99;
    }

    .mobile-menu .mobile-wrap{
        width: 100%;
        height: 65%;
        padding-top: 60px;
        background-color: #F8F6F4;
        filter: drop-shadow(rgba(0, 0, 0, 0.05) 0px 5px 5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu .mobile-wrap li{
        font-size: 24px;
        color: #333;
        font-weight: 500;
        text-align: center;
        margin-bottom: 60px;
    }

    .mobile-menu .mobile-wrap li:last-child{
        margin-bottom: 0;
    }

    .profile{
        padding: 80px 32px;
        height: auto;
    }

    .profile .right .picture {
        width: 410px;
        height: 500px;
    }

    .portfolio{
        padding: 80px 32px;
    }

    .portfolio .modal .black-bg{
        padding: 0px 16px;
    }

    .portfolio .current-list{
        margin-left: 40px;
    }

    .uiux{
        flex-direction: column;
        height: auto;
        padding: 80px 32px;
    }

    .etc{
        padding: 80px 32px;
    }

    .uiux .left{
        width: 80%;
        margin-bottom: 40px;
    }

    .uiux .project-contribution{
        width: 90%;
    }

    .uiux .project-contribution span {
        font-size: 12px;
    }

    .uiux .right{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .uiux .project-contribution p::after{
        left: 50%;
        transform: translateX(-50%);
    }

    .contact .phone p{
        font-size: 16px;
    }

    .portfolio .close i{
        font-size: 24px;
    }

}

/* --------------------------------- */

@media screen and (max-width: 600px){

    /* .mobile-menu .mobile-wrap{
        margin-top: 20px;
    } */

    .mobile-menu .mobile-wrap li{
        font-size: 18px;
    }


    .header{
        padding: 0px 16px;
    }
    
    .header .logo:hover svg{
        fill: #8BB6E8;
    }

    .about{
        padding: 60px 16px;
    }

    .about p{
        font-size: 12px;
    }

    .top-btn{
        right: 30px;
        bottom: 20px;
    }

    .profile{
        flex-direction: column;
        align-items: center;
        padding: 60px 16px;
    }

    .profile .right{
        width: 100%;
        justify-content: center;
        margin-bottom: 60px;
    }

    .profile .right .picture {
        width: 350px;
        height: 500px;
    }

    .profile .left{
        width: 350px;
    }


    .webmobile h3:hover{
        pointer-events: none;
    }

    .portfolio{
        padding: 60px 16px;
    }

    .portfolio .bottom .renewal-list li span{
        width: 100%;
    }

    .portfolio .bottom .renewal-list li:nth-child(3){
        margin-bottom: 40px;
    }

    .portfolio .current{
        flex-direction: column;
        align-items: center;

    }

    .portfolio .current-list{
        margin: 32px 0px 60px;
    }

    .portfolio .current-list li {
        margin-top: 32px;
    }

    .portfolio .current-list li:hover{
        color: #F8F6F4;
    }

    .portfolio .current-list li:hover i{
        color: #F8F6F4;
    }

    .portfolio .bottom .renewal-list{
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
    }

    .portfolio .bottom .renewal-list li{
        margin-right: 0;
        width: 65%;
        margin-bottom: 40px;
    }

    .portfolio .bottom .renewal-list li.on{
        filter: none;
    }

    .portfolio .bottom .renewal-list li:last-child{
        margin-bottom: 0;
    }

    .portfolio .current-1, .portfolio .current-2, .portfolio .current-3, .portfolio .current-4{
        width: 80%;
    }

    .uiux,
    .etc{
        padding: 60px 16px;
    }

    .uiux .screen .device {
        pointer-events: none;
    }

    .uiux .viewmore:hover,
    .uiux .viewmore:hover i{
        color: #79AADC;
    }

    .etc .etc-list li .etc-txt .view:hover,
    .etc .etc-list li .etc-txt .view:hover i{
    scale: none;
    color: #333333;
    }

    .etc .etc-list li{
        width: 100%;
        margin-top: 60px;
    }

    .etc .etc-list li:nth-child(2){
        margin-top: 60px;
    }

    .viewmore:hover,
    .viewmore:hover i{
        color: #79AADC;
    }

}

/* --------------------------------- */

@media screen and (max-width: 425px){

    
    .etc .modal .black-bg img{
        width: 90%;
    }


    .portfolio .current-1, .portfolio .current-2, .portfolio .current-3, .portfolio .current-4 {
        width: 90%;
    }
}